<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12653644517-o47a80up0q33ev4ne68b7101m0n0gl0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12653644517-o47a80up0q33ev4ne68b7101m0n0gl0e</string>
	<key>API_KEY</key>
	<string>AIzaSyCoJwbjww6wQUvQTX6ddM7riUEtZbR2DZI</string>
	<key>GCM_SENDER_ID</key>
	<string>12653644517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JaredEldridge.FireBaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-test-6d78a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-6d78a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12653644517:ios:ffc9e77a7f07d4319fa20c</string>
</dict>
</plist>